<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
    crossorigin="anonymous"></script>
  <title>Luck Portifolio</title>
  <link rel="stylesheet" href="../style/index.css">
</head>

<body>
  <section id="Home">
    <div id="home">
      <div id="image">
        <img id="image-img" src="../image/unknown.png" alt="">
      </div>
      <div id="profile">
        <div id="img-profile">
          <img id="img-profile_img" src="../image/My sona Perfil.png" style="border-radius: 10px;" width="30%" alt="">

        </div>
        <div id="profile-title">
          <h1>profile Title</h1>

        </div>
        <div id="profile-subtitle">
          <h5>Some quick example text to build on the card title and make up the bulk of the card's content</h5>
        </div>
        <div id="profile-Email">
          <h5>email-aleatorio123 @safe.com</h5>
        </div>
        <div id="profileButtonsSociais">
          <button type="button" class="bnt-page-profile" style="background: #25D366;">Whatsapp</button>
          <button type="button" class="bnt-page-profile" style="margin-left: 20px; background: #4A6BC0;">Github</button>
        </div>
        <div id="profileButtonArrow">
          <a href="#Home" class="btn btn-secondary col-md-3 offset-md-0 m-0">
            <img src="../image/Group 21.svg" alt="Scrow down" style="max-height: 35px; transform: rotate(180deg)" /></a>
        </div>


      </div>
    </div>
  </section>
<section id="Meio">

</section>
<section id="fim">

</section>
</body>

</html>