 * {
  margin: 0;
  padding: 0;
  text-decoration: none;
} 

body {
  background-color: #222222;
}

h1 {
  color: #f5f5f5;
}

#home{
  display: flex;
}
#profile{
  display: flex;
width: 25rem;
          max-height: 100%;
          border-radius: 15px;
          background-color: #3f3f3f;
}
#omen{
  display: flex;
}